
*{
  background-color: rgb(60, 19, 97);
}
#root{

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.container{
  width: 500px;
}

.buttons{
  display: flex;
  flex-wrap: wrap;
  color: black;
  border-radius: 50%;

}
button{
padding: 10px;
border:none;
background-color: black;
color: azure;
margin: 10px;
border-radius: 15px;
width:150px;
text-align: center;

}